@import url(http://fonts.googleapis.com/css?family=Roboto);
*{font-family: 'Lato', sans-serif;}

body {
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}
*::selection{
  color: #fff;
  background-color: #81b625;
}
.split{
  height: 50px;
}
a{
  color: #86b32d;
  border-bottom: 1px dotted #86b32d;
  text-decoration: none;
  padding-bottom: 2px;
}

.wrapper {
  width: 960px;
  margin: 0 auto;
  padding: 50px 0;
}

header {
  /*margin-top: 50px;*/
  background-color: #81b625;
  overflow: hidden;
}
header .avatar {
  height: 80px;
  float: left;
  /*width: 200px;*/
}
header .avatar img {
  max-width: 100%;
}
header .blog-name {
  color: #fff;
}
header .blog-name h1{
  text-align: center;
  margin: 0;
  height: 80px;
  font-weight: 600;
  line-height: 80px;
  background: url('/images/slogan.png') no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: 50% 50%;
  padding-left: 200px;
  background-origin: content-box;
}
header .blog-name h1 a{
  color: #fff;
}
header .about {
  transition: all .3s ease-in-out;
  display: block;
  float: right;
  height: 80px;
  line-height: 80px;
  background-color: #9bcc45;
  width: 80px;
  text-align: center;
  font-size: 28px;
  color: #fff;
  padding-bottom: 0;
  border-bottom: none;
}
header .picture {
  transition: all .3s ease-in-out;
  display: block;
  float: right;
  height: 80px;
  line-height: 80px;
  background-color: #93c43e;
  width: 80px;
  text-align: center;
  font-size: 28px;
  color: #fff;
  padding-bottom: 0;
  border-bottom: none;
}
header .about:hover, header .picture:hover {
  background-color: #fff;
  color: #9bcc45;
}

.content {
  min-height: 300px;
  -webkit-perspective: 200px;
}
.content .item {
  position: relative;
  border-bottom: 3px solid #93c43e;
  overflow: hidden;
  background-color: #fff;
  padding: 30px 64px 30px 64px;
  transition: all .8s ease-in-out;

  /*Effect1*/
  /*-webkit-transform: rotateX(-60deg) scale(1.2) translateY(90px);*/

  /*Effect2*/
  -webkit-transform: rotateX(-12deg) scale(1.1) translateY(120px) translateZ(61px);
  
  opacity: 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.content .cover {
  float: left;
  margin-right: 20px;
}
.content .side {
  position: absolute;
  right: 0px;
  bottom: 0;
  /*    top: 0px;*/
  height: 80px;
  background-color: #93c43e;
  color: #fff;
  width: 70px;
  text-align: right;
  padding-right: 10px;
}
.content .side .date {
  line-height: 30px;
  padding: 5px 0;
  font-size: 24px;
  display: block;
}
.content .side .year {
  display: block;
  font-size: 10px;
}
.content h2.title {
  font-size: 24px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 10px;
  padding-right: 120px;
}
.content h2.title a {
  color: #000;
  text-decoration: none;
  transition: all .25s ease-in-out;
}
.content h2.title a:hover {
  color: #81b625;
}
.content .desc {
  padding-left: 100px;
  padding-right: 120px;
  margin: 0 0 15px 0;
  line-height: 20px;
  color: #666;
}

.content .comein {
  opacity: .85;
  -webkit-transform: scale(1) rotateX(0);
}

.content .post-wrapper{
  background-color: #fff;
  position: relative;
  border-bottom: 3px solid #93c43e;
  overflow: hidden;
  background-color: #fff;
  padding: 30px 64px 30px 64px;
  transition: all .8s ease-in-out;
  /*-webkit-transform: rotateX(-80deg) scale(0.7) translateY(90px);*/
  /*opacity: 0;*/
}


/*
      ____             __ 
     / __ \____  _____/ /_
    / /_/ / __ \/ ___/ __/
   / ____/ /_/ (__  ) /_  
  /_/    \____/____/\__/  
                          
*/

.post-wrapper h2.title{
  padding-left: 10px;
  border-left: 6px solid #81b625;
}

.post-wrapper h2.title small.meta{
  display: block;
  font-size: 12px;
  color: #666;
}
.post-wrapper h2.title small.meta span{
  margin-right: 20px;
}
.post-wrapper h2.title small.meta span i{
  margin-right: 5px;
}

.post h2{
  padding-left: 10px;
  border-left: 4px solid #81b625;
}

.post h3{
  padding-left: 10px;
  border-left: 4px solid #9BCC45;
  margin-left: 10px;
  font-size: 16px;
  margin-top: 30px;
}

.post p{
  /*padding-left: 10px;*/
  color: #444;
  letter-spacing: 1px;
  line-height: 1.5em;
}

.post .highlight{
  overflow: scroll;
  border: 2px solid #C5EBCD;
  padding: 10px;
}

.post p > code{
  background-color: #BCE27A;
  padding: 2px 4px;
  margin: 0 4px;
}
.post .highlight pre code span{
  font-family: 'Inconsolata', sans-serif;

}

.post blockquote{
  
  margin-left: 20px;
  padding-left: 30px;
  position: relative;
}

.post blockquote::before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  border-left: 4px solid #eee;
}

.post blockquote p{
  color: #999;
  font-style: italic;
  font-size: 14px;
}

.post ul{
  line-height: 1.5;
}
