/*** MAIN SCSS FILE ***/
/* line 7, ../../src/styles/main.scss */
html,
body {
  font-size: 0;
  height: 100%;
  background-color: #fff;
}

/* line 15, ../../src/styles/main.scss */
body {
  font-family: 'Microsoft YaHei', 'Helvetica Neue',Helvetica,Arial,sans-serif;
  overflow: hidden;
}
/* line 20, ../../src/styles/main.scss */
body.show-left .main {
  left: 256px;
  background-position: -156px bottom;
}
/* line 24, ../../src/styles/main.scss */
body.show-left .main .top-shadow {
  box-shadow: 0 0 140px 20px rgba(0, 0, 0, 0.8);
}
/* line 29, ../../src/styles/main.scss */
body.show-left .leftside-toggle .more {
  display: none;
}
/* line 32, ../../src/styles/main.scss */
body.show-left .leftside-toggle .close {
  display: block;
}
/* line 38, ../../src/styles/main.scss */
body.show-right .rightside {
  right: 0;
}
/* line 41, ../../src/styles/main.scss */
body.show-right .main .rightside-toggle-wrapper {
  opacity: 0;
}

/* line 65, ../../src/styles/main.scss */
.main {
  font-size: 14px;
  position: relative;
  z-index: 2;
  left: 0;
  height: 100%;
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: cover;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}
/* line 80, ../../src/styles/main.scss */
.main .top-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 0 120px 10px rgba(0, 0, 0, 0.8);
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

/* line 93, ../../src/styles/main.scss */
.content {
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
}
/* line 100, ../../src/styles/main.scss */
.content .content-wrapper {
  display: table-cell;
  vertical-align: middle;
}
/* line 104, ../../src/styles/main.scss */
.content .content-wrapper .logo {
  height: 86px;
  margin-bottom: 12px;
}
/* line 108, ../../src/styles/main.scss */
.content .content-wrapper .search-wrapper {
  position: relative;
  width: 496px;
  margin: 0 auto;
}
/* line 113, ../../src/styles/main.scss */
.content .content-wrapper .search-wrapper input {
  font-size: 13px;
  line-height: 20px;
  width: 484px;
  padding: 9.5px 8px;
  color: #fff;
  border: none;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.3);
}
/* line 125, ../../src/styles/main.scss */
.content .content-wrapper .search-wrapper .search-icon {
  position: absolute;
  top: 5px;
  right: 3px;
  padding: 8px 4px;
  cursor: pointer;
  color: #fff;
}
/* line 137, ../../src/styles/main.scss */
.content .content-wrapper .responsive-block {
  height: 27px;
}
@media screen and (min-height: 696px) {
  /* line 137, ../../src/styles/main.scss */
  .content .content-wrapper .responsive-block {
    height: 40px;
  }
}
@media screen and (min-height: 779px) {
  /* line 137, ../../src/styles/main.scss */
  .content .content-wrapper .responsive-block {
    height: 60px;
  }
}
@media screen and (min-height: 1200px) {
  /* line 137, ../../src/styles/main.scss */
  .content .content-wrapper .responsive-block {
    height: 120px;
  }
}
/* line 149, ../../src/styles/main.scss */
.content .content-wrapper .slide-container {
  position: relative;
  width: 680px;
  height: 420px;
  margin: 0 auto;
}
/* line 156, ../../src/styles/main.scss */
.content .content-wrapper .slide-container > .item {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
}
/* line 167, ../../src/styles/main.scss */
.content .content-wrapper .slide-container > .item .item-title {
  font-size: 28px;
  font-weight: 100;
  line-height: 60px;
  margin: 0;
  color: #fff;
}
/* line 176, ../../src/styles/main.scss */
.content .content-wrapper .slide-container > .item .item-desc {
  font-size: 16px;
  font-weight: 100;
  line-height: 20px;
  margin: 0;
  letter-spacing: 1.8px;
  color: #fff;
}
/* line 187, ../../src/styles/main.scss */
.content .content-wrapper .slide-container > .item.active {
  z-index: 4;
  display: block;
  opacity: 1;
}
/* line 196, ../../src/styles/main.scss */
.content .content-wrapper .slide-container .order-count .resp-block-t-c {
  height: 44px;
}
/* line 199, ../../src/styles/main.scss */
.content .content-wrapper .slide-container .order-count .resp-block-c-b {
  height: 80px;
}
/* line 202, ../../src/styles/main.scss */
.content .content-wrapper .slide-container .order-count .resp-block-b {
  height: 70px;
}
/* line 205, ../../src/styles/main.scss */
.content .content-wrapper .slide-container .order-count .counters {
  font-size: 0;
}
/* line 207, ../../src/styles/main.scss */
.content .content-wrapper .slide-container .order-count .counters span {
  font-family: Arial,sans-serif;
  font-size: 90px;
  font-weight: bold;
  line-height: 96px;
  display: inline-block;
  width: 75px;
  height: 96px;
  margin: 0 10px;
  color: #fff;
  border: 1px solid  #fff;
  border-radius: 10px;
}
/* line 224, ../../src/styles/main.scss */
.content .content-wrapper .slide-container .order-count .txt-slogans {
  font-size: 0;
}
/* line 226, ../../src/styles/main.scss */
.content .content-wrapper .slide-container .order-count .txt-slogans .item {
  font-family: Arial,sans-serif;
  display: inline-block;
  width: 116px;
  color: #fff;
}
/* line 234, ../../src/styles/main.scss */
.content .content-wrapper .slide-container .order-count .txt-slogans .item .zh {
  font-size: 24px;
  font-weight: 100;
  line-height: 40px;
  height: 40px;
}
/* line 242, ../../src/styles/main.scss */
.content .content-wrapper .slide-container .order-count .txt-slogans .item .en {
  font-size: 15px;
  font-weight: 200;
  line-height: 20px;
  height: 20px;
  letter-spacing: .6px;
}
/* line 251, ../../src/styles/main.scss */
.content .content-wrapper .slide-container .order-count .txt-slogans .item:before {
  float: right;
  width: 0;
  height: 32px;
  margin-top: 16px;
  content: ' ';
  border-left: 1px solid #fff;
}
/* line 262, ../../src/styles/main.scss */
.content .content-wrapper .slide-container .order-count .txt-slogans .item:last-child:before {
  content: none;
}
/* line 269, ../../src/styles/main.scss */
.content .content-wrapper .slide-container .order-status .txt-wrapper {
  position: absolute;
  right: 30px;
  bottom: 40px;
  text-align: right;
}
/* line 278, ../../src/styles/main.scss */
.content .content-wrapper .slide-container .order-seal a {
  font-size: 12px;
  display: block;
  margin-top: 8px;
  text-decoration: none;
  color: #4b91ff;
}
/* line 291, ../../src/styles/main.scss */
.content .content-wrapper .slide-container .order-sign a {
  font-size: 12px;
  display: block;
  margin-top: 8px;
  text-decoration: none;
  color: #4b91ff;
}
/* line 302, ../../src/styles/main.scss */
.content .content-wrapper .slide-container .order-sign .grid {
  font-size: 0;
  margin-top: 80px;
  padding: 0 30px;
}
/* line 307, ../../src/styles/main.scss */
.content .content-wrapper .slide-container .order-sign .grid .cell {
  font-size: 20px;
  display: inline-block;
  width: 120px;
  text-align: center;
  color: #fff;
}
/* line 317, ../../src/styles/main.scss */
.content .content-wrapper .slide-container .order-sign .grid .cell img {
  margin-bottom: 40px;
}
/* line 320, ../../src/styles/main.scss */
.content .content-wrapper .slide-container .order-sign .grid .cell p {
  line-height: 40px;
  height: 40px;
  margin: 0;
}
/* line 330, ../../src/styles/main.scss */
.content .content-wrapper .slide-indicators {
  font-size: 0;
  position: relative;
  z-index: 4;
}
/* line 335, ../../src/styles/main.scss */
.content .content-wrapper .slide-indicators .item {
  display: inline-block;
  width: 160px;
  margin: 0 2.5px;
  padding: 8px 0;
  cursor: pointer;
}
/* line 343, ../../src/styles/main.scss */
.content .content-wrapper .slide-indicators .item .inner {
  height: 4px;
  border: 1px solid  #fff;
  background-color: #fff;
}
/* line 350, ../../src/styles/main.scss */
.content .content-wrapper .slide-indicators .active .inner {
  background-color: transparent;
}

/* line 357, ../../src/styles/main.scss */
.leftside-toggle {
  font-size: 13px;
  position: absolute;
  z-index: 2;
  top: 20px;
  left: 20px;
  cursor: pointer;
  color: #fff;
}
/* line 368, ../../src/styles/main.scss */
.leftside-toggle .close {
  display: none;
}
/* line 371, ../../src/styles/main.scss */
.leftside-toggle span i {
  margin-right: 6px;
  vertical-align: top;
}
/* line 376, ../../src/styles/main.scss */
.leftside-toggle .more-icon {
  margin-right: 6px;
  vertical-align: top;
}

/* line 382, ../../src/styles/main.scss */
.leftside {
  font-size: 14px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 220px;
  height: 100%;
  padding: 0 18px;
  background-color: #242b33;
  box-shadow: inset -14px 0 14px -14px black;
}
/* line 396, ../../src/styles/main.scss */
.leftside .btn-signup {
  font-size: 15px;
  line-height: 36px;
  width: 220px;
  height: 36px;
  margin-top: 25px;
  margin-bottom: 12px;
  padding: 0;
  text-align: center;
  color: #fff;
  border: none;
  border-radius: 5px;
  background-color: #fa9600;
}
/* line 412, ../../src/styles/main.scss */
.leftside .btn-signup:focus {
  outline: none;
  box-shadow: none;
}
/* line 418, ../../src/styles/main.scss */
.leftside .help-block .pull-right {
  cursor: pointer;
  text-decoration: none;
  color: #4b91ff;
}
/* line 425, ../../src/styles/main.scss */
.leftside .nav {
  margin-top: 75px;
}
@media screen and (max-height: 720px) {
  /* line 425, ../../src/styles/main.scss */
  .leftside .nav {
    margin-top: 42px;
  }
}
@media screen and (max-height: 580px) {
  /* line 425, ../../src/styles/main.scss */
  .leftside .nav {
    margin-top: 20px;
  }
}
/* line 433, ../../src/styles/main.scss */
.leftside .nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 438, ../../src/styles/main.scss */
.leftside .nav ul li {
  position: relative;
}
/* line 442, ../../src/styles/main.scss */
.leftside .nav li a {
  font-size: 12px;
  line-height: 40px;
  text-decoration: none;
  color: #fff;
}
/* line 449, ../../src/styles/main.scss */
.leftside .nav li a i.pull-right {
  margin-top: 14px;
}
/* line 452, ../../src/styles/main.scss */
.leftside .nav li a:hover {
  color: #f59300;
}
@media screen and (max-height: 720px) {
  /* line 442, ../../src/styles/main.scss */
  .leftside .nav li a {
    line-height: 38px;
  }
}
@media screen and (max-height: 580px) {
  /* line 442, ../../src/styles/main.scss */
  .leftside .nav li a {
    line-height: 28px;
  }
}
/* line 463, ../../src/styles/main.scss */
.leftside .footer {
  font-size: 12px;
  position: absolute;
  bottom: 0;
  width: 220px;
  color: #fff;
}
/* line 472, ../../src/styles/main.scss */
.leftside .footer .tb {
  color: #fa9600;
}
/* line 476, ../../src/styles/main.scss */
.leftside .help-block {
  font-size: 12px;
  color: #fff;
}
/* line 481, ../../src/styles/main.scss */
.leftside .feedback-container {
  position: absolute;
  bottom: -210px;
  left: 0;
  width: 236px;
  padding: 10px;
  background-color: #fff;
  -webkit-transition: bottom 0.25s;
  -moz-transition: bottom 0.25s;
  -o-transition: bottom 0.25s;
  transition: bottom 0.25s;
}
/* line 492, ../../src/styles/main.scss */
.leftside .feedback-container textarea {
  width: 226px;
  height: 120px;
  padding: 5px;
  border-radius: 5px;
  border-color: #969696;
}
/* line 500, ../../src/styles/main.scss */
.leftside .feedback-container .remaing-words {
  line-height: 26px;
}
/* line 501, ../../src/styles/main.scss */
.leftside .feedback-container .action {
  font-size: 12px;
}
/* line 503, ../../src/styles/main.scss */
.leftside .feedback-container .action .cancel {
  color: #646464;
  line-height: 26px;
}
/* line 505, ../../src/styles/main.scss */
.leftside .feedback-container button {
  margin-left: 16px;
  line-height: 24px;
  width: 100%;
  height: 26px;
  padding: 5px;
  padding: 0;
  width: 60px;
  color: #fff;
  border: 1px solid #4b91ff;
  border-radius: 5px;
  background-color: #4b91ff;
}
/* line 522, ../../src/styles/main.scss */
.leftside.show-feedback-container .feedback-container {
  bottom: 0;
}

/* line 529, ../../src/styles/main.scss */
.rightside-toggle-wrapper {
  font-size: 13px;
  position: absolute;
  z-index: 3;
  top: 15px;
  right: 20px;
  width: 300px;
  text-align: right;
  color: #fff;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}
/* line 544, ../../src/styles/main.scss */
.rightside-toggle-wrapper > span {
  display: inline-block;
  padding: 5px 13px;
  cursor: pointer;
}
/* line 551, ../../src/styles/main.scss */
.rightside-toggle-wrapper .toggle-signin {
  margin-left: 20px;
}
/* line 554, ../../src/styles/main.scss */
.rightside-toggle-wrapper .toggle-signup {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.4);
}
/* line 561, ../../src/styles/main.scss */
.rightside-toggle-wrapper .driver-client-hover i {
  margin-right: 6px;
}
/* line 565, ../../src/styles/main.scss */
.rightside-toggle-wrapper .driver-client-hover:hover .dropdown-wrapper {
  display: block;
  -webkit-animation: fadeOut 0.5s;
  -moz-animation: fadeOut 0.5s;
  -ms-animation: fadeOut 0.5s;
  -o-animation: fadeOut 0.5s;
  animation: fadeOut 0.5s;
}
/* line 572, ../../src/styles/main.scss */
.rightside-toggle-wrapper .dropdown-wrapper {
  position: absolute;
  z-index: 34;
  top: 27px;
  right: 0;
  display: none;
  width: 360px;
  height: 170px;
  padding-top: 5px;
  cursor: initial;
}
/* line 586, ../../src/styles/main.scss */
.rightside-toggle-wrapper .dropdown {
  display: block;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}
/* line 592, ../../src/styles/main.scss */
.rightside-toggle-wrapper .dropdown:before {
  position: absolute;
  top: -11px;
  left: 50%;
  margin-left: -8px;
  content: ' ';
  border: 8px solid transparent;
  border-top-width: 8px;
  border-bottom: 8px solid rgba(0, 0, 0, 0.4);
}
/* line 605, ../../src/styles/main.scss */
.rightside-toggle-wrapper .dropdown .split {
  position: absolute;
  top: 20px;
  left: 50%;
  width: 1px;
  height: 138px;
  border-left: 1px solid #fff;
}
/* line 616, ../../src/styles/main.scss */
.rightside-toggle-wrapper .dropdown .pull-left,
.rightside-toggle-wrapper .dropdown .pull-right {
  width: 50%;
  padding-top: 18px;
}
/* line 619, ../../src/styles/main.scss */
.rightside-toggle-wrapper .dropdown .pull-left p,
.rightside-toggle-wrapper .dropdown .pull-right p {
  font-size: 14px;
  margin: 0 0 12px 0;
}
/* line 626, ../../src/styles/main.scss */
.rightside-toggle-wrapper .dropdown .pull-right .download-holder {
  display: inline-block;
  width: 140px;
  height: 45px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
}
/* line 637, ../../src/styles/main.scss */
.rightside-toggle-wrapper .dropdown .download-holder {
  cursor: pointer;
}
/* line 639, ../../src/styles/main.scss */
.rightside-toggle-wrapper .dropdown .download-holder i {
  font-size: 28px;
  line-height: 43px;
  float: left;
  height: 45px;
  padding-left: 4px;
}
/* line 648, ../../src/styles/main.scss */
.rightside-toggle-wrapper .dropdown .download-holder .text {
  font-size: 12px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 40px;
}
/* line 655, ../../src/styles/main.scss */
.rightside-toggle-wrapper .dropdown .download-holder .text p {
  font-size: 14px;
  margin-bottom: 2px;
}
/* line 660, ../../src/styles/main.scss */
.rightside-toggle-wrapper .dropdown .download-holder .text span {
  font-size: 12px;
}

/* line 668, ../../src/styles/main.scss */
.rightside {
  font-size: 14px;
  position: fixed;
  z-index: 2;
  top: 0;
  right: -360px;
  width: 300px;
  height: 100%;
  padding: 0 30px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}
/* line 683, ../../src/styles/main.scss */
.rightside .close {
  font-size: 12px;
  position: absolute;
  z-index: 3;
  top: 16px;
  right: 30px;
  cursor: pointer;
  color: #fff;
}
/* line 695, ../../src/styles/main.scss */
.rightside form {
  margin-top: 140px;
}
@media screen and (min-height: 580px) {
  /* line 695, ../../src/styles/main.scss */
  .rightside form {
    margin-top: 120px;
  }
}
@media screen and (min-height: 720px) {
  /* line 695, ../../src/styles/main.scss */
  .rightside form {
    margin-top: 200px;
  }
}
/* line 703, ../../src/styles/main.scss */
.rightside form .form-switcher {
  font-size: 0;
  margin-bottom: 80px;
  color: #fff;
  border: 1px solid  #fff;
  border-radius: 5px;
}
/* line 711, ../../src/styles/main.scss */
.rightside form .form-switcher span {
  font-size: 15px;
  line-height: 38px;
  display: inline-block;
  width: 50%;
  height: 38px;
  cursor: pointer;
  text-align: center;
}
/* line 725, ../../src/styles/main.scss */
.rightside form .error,
.rightside form .submit-res {
  font-size: 12px;
  line-height: 20px;
  height: 20px;
  margin-bottom: 20px;
  text-align: center;
  letter-spacing: 1.4px;
  color: #f00;
}
/* line 737, ../../src/styles/main.scss */
.rightside form .submit-res {
  color: #fff;
}
/* line 741, ../../src/styles/main.scss */
.rightside form input[type='text'],
.rightside form input[type='password'] {
  display: block;
  box-sizing: border-box;
  width: 300px;
  width: 100%;
  margin-bottom: 20px;
  padding: 12px 8px;
  color: #fff;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.3);
}
/* line 755, ../../src/styles/main.scss */
.rightside form .service-term {
  font-size: 12px;
  margin-bottom: 20px;
  text-align: center;
  color: #fff;
}
/* line 763, ../../src/styles/main.scss */
.rightside form .service-term a {
  text-decoration: none;
  color: #4b91ff;
}
/* line 769, ../../src/styles/main.scss */
.rightside form .assist {
  font-size: 12px;
  line-height: 20px;
  overflow: hidden;
  height: 20px;
  margin-bottom: 20px;
  color: #fff;
}
/* line 779, ../../src/styles/main.scss */
.rightside form .assist label {
  margin-left: 8px;
}
/* line 782, ../../src/styles/main.scss */
.rightside form .assist a {
  text-decoration: none;
  color: #fff;
}
/* line 788, ../../src/styles/main.scss */
.rightside form .foundpwd-target {
  cursor: pointer;
}
/* line 792, ../../src/styles/main.scss */
.rightside form .action button {
  font-size: 18px;
  line-height: 38px;
  width: 100%;
  height: 38px;
  padding: 0;
  text-align: center;
  color: #fff;
  border: 1px solid #4b91ff;
  border-radius: 5px;
  background-color: #4b91ff;
}
/* line 806, ../../src/styles/main.scss */
.rightside form .action button:active {
  outline: none;
  box-shadow: none;
}
/* line 811, ../../src/styles/main.scss */
.rightside form .action .sb-loading {
  display: none;
  background-color: #2679fd;
}
/* line 818, ../../src/styles/main.scss */
.rightside form .foundpwd {
  display: none;
  overflow: hidden;
}
/* line 821, ../../src/styles/main.scss */
.rightside form .foundpwd button {
  width: 140px;
}
/* line 824, ../../src/styles/main.scss */
.rightside form .foundpwd .sb-cancel {
  float: left;
  border-color: #fff;
  background-color: transparent;
}
/* line 830, ../../src/styles/main.scss */
.rightside form .foundpwd .sb-foundpwd {
  float: right;
}
/* line 833, ../../src/styles/main.scss */
.rightside form .foundpwd .sb-loading {
  width: 100%;
}
/* line 842, ../../src/styles/main.scss */
.rightside [data-form-target='signin'] .service-term,
.rightside [data-form-target='signin'] .password2,
.rightside [data-form-target='signin'] .verify-code,
.rightside [data-form-target='signin'] .sb-signup {
  display: none;
}
/* line 845, ../../src/styles/main.scss */
.rightside [data-form-target='signin'] .signin-target {
  color: #000;
  background-color: #fff;
}
/* line 849, ../../src/styles/main.scss */
.rightside [data-form-target='signin'] .action.foundpwd {
  display: none;
}
/* line 855, ../../src/styles/main.scss */
.rightside [data-form-target='signup'] .assist,
.rightside [data-form-target='signup'] .sb-signin {
  display: none;
}
/* line 858, ../../src/styles/main.scss */
.rightside [data-form-target='signup'] .signup-target {
  color: #000;
  background-color: #fff;
}
/* line 862, ../../src/styles/main.scss */
.rightside [data-form-target='signup'] .action.foundpwd {
  display: none;
}
/* line 872, ../../src/styles/main.scss */
.rightside [data-form-target='foundpwd'] .assist,
.rightside [data-form-target='foundpwd'] .sb-signin,
.rightside [data-form-target='foundpwd'] .sb-signup,
.rightside [data-form-target='foundpwd'] .inp-pwd,
.rightside [data-form-target='foundpwd'] .verify-code,
.rightside [data-form-target='foundpwd'] .service-term {
  display: none;
}
/* line 875, ../../src/styles/main.scss */
.rightside [data-form-target='foundpwd'] .signin-target {
  color: #000;
  background-color: #fff;
}
/* line 879, ../../src/styles/main.scss */
.rightside [data-form-target='foundpwd'] .action.foundpwd {
  display: block;
}
/* line 884, ../../src/styles/main.scss */
.rightside .submiting .action .sb-loading {
  display: block;
}
/* line 888, ../../src/styles/main.scss */
.rightside .submiting .action .sb-signin,
.rightside .submiting .action .sb-signup {
  display: none;
}
/* line 893, ../../src/styles/main.scss */
.rightside .submiting .action.foundpwd .sb-loading {
  display: block;
}
/* line 897, ../../src/styles/main.scss */
.rightside .submiting .action.foundpwd .sb-cancel,
.rightside .submiting .action.foundpwd .sb-foundpwd {
  display: none;
}

/* line 903, ../../src/styles/main.scss */
.driver-client-icon {
  position: relative;
  top: 2px;
  margin-right: 8px;
}

/* line 909, ../../src/styles/main.scss */
.right-close-icon {
  margin-right: 6px;
  vertical-align: middle;
}

/* line 914, ../../src/styles/main.scss */
.weibo-icon {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: 7px;
  margin-top: -9px;
}

/* line 922, ../../src/styles/main.scss */
.email-icon {
  margin-top: 7px;
}

/* line 927, ../../src/styles/main.scss */
.bg {
  display: inline-block;
  width: 22px;
  height: 18px;
  vertical-align: middle;
  background-image: url("../images/bgs.png");
}

/* line 937, ../../src/styles/main.scss */
.bg-expand {
  background-position: 0 -50px;
}

/* line 940, ../../src/styles/main.scss */
.bg-email {
  background-position: 0 -22px;
}

/* line 943, ../../src/styles/main.scss */
.bg-download {
  background-position: 0 0;
}

/* line 947, ../../src/styles/main.scss */
.bg-collapse {
  background-position: 0 0;
}

/* line 952, ../../src/styles/main.scss */
.pull-right {
  float: right;
}

/* line 955, ../../src/styles/main.scss */
.pull-left {
  float: left;
}

/* line 958, ../../src/styles/main.scss */
.tac {
  text-align: center;
}

/* line 967, ../../src/styles/main.scss */
input {
  outline: none;
  box-shadow: none;
}
/* line 970, ../../src/styles/main.scss */
input:focus {
  outline: none;
  box-shadow: none;
}

/* line 976, ../../src/styles/main.scss */
::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.9);
}

/* line 980, ../../src/styles/main.scss */
:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(255, 255, 255, 0.9);
}

/* line 985, ../../src/styles/main.scss */
::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.9);
}

/* line 990, ../../src/styles/main.scss */
:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.9);
}

/* line 994, ../../src/styles/main.scss */
.placeholder {
  color: rgba(255, 255, 255, 0.9);
}

/* line 998, ../../src/styles/main.scss */
embed {
  font-size: 0;
  display: none;
  visibility: 0;
}

@-moz-keyframes fadeOut {
  /* line 1006, ../../src/styles/main.scss */
  0% {
    opacity: 0;
  }

  /* line 1009, ../../src/styles/main.scss */
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  /* line 1006, ../../src/styles/main.scss */
  0% {
    opacity: 0;
  }

  /* line 1009, ../../src/styles/main.scss */
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeOut {
  /* line 1006, ../../src/styles/main.scss */
  0% {
    opacity: 0;
  }

  /* line 1009, ../../src/styles/main.scss */
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeOut {
  /* line 1006, ../../src/styles/main.scss */
  0% {
    opacity: 0;
  }

  /* line 1009, ../../src/styles/main.scss */
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  /* line 1006, ../../src/styles/main.scss */
  0% {
    opacity: 0;
  }

  /* line 1009, ../../src/styles/main.scss */
  100% {
    opacity: 1;
  }
}
