* {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif-webkit-body;
}
html,
body {
	padding: 0;
	margin: 0;
	background-image: url("../images/twill.png");
	z-index: 2;
}
@font-face {
	font-family: goodtime;
	src: url("good times rg.ttf");
}
@font-face {
	font-family: helveticathin;
	src: url("helvetica-35-thin.ttf");
}
.banner {
	height: 680px;
	min-height: 480px;
	position: relative;
}
.banner .bg_mac {
	background: url('../images/mac_bg.jpg');
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: 1;
	background-position: right center;
	filter: alpha(opacity=50);
	background-size: auto 100%;
}
.banner .bg_punctate {
	background: url('../images/punctate.png');
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: 3;
	opacity: .5;
}
.banner .bg_shade {
	background: url('../images/shade_fg.png');
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: 2;
	-webkit-background-size: 100% auto;
	background-size: 100% 100%;
}
.banner .header {
	height: 60px;
	background-color: rgba(39, 65, 90, 0.3);
	position: relative;
	z-index: 20;
}
.banner .header .logo {
	padding: 10px 0 0 15px;
	float: left;
	z-index: 20;
}
.banner .header .social-icon {
	width: 250px;
	padding: 10px 0 0 10px;
	float: right;
	font-size: 0px;
	z-index: 20;
}
.banner .header .social-icon span {
	display: inline-block;
	width: 60px;
	text-align: center;
	z-index: 20;
}
.banner .header .social-icon span p {
	font-size: 12px;
	margin: 0;
	margin-top: 5px;
	color: #000;
	font-weight: 500;
	z-index: 20;
}
.banner .login-control {
	text-align: right;
	position: relative;
	z-index: 20;
}
.banner .login-control .btn-group {
	padding: 20px;
	padding-right: 28px;
	z-index: 20;
}
.banner .login-control .btn-group a {
	line-height: 40px;
	margin-left: -4px;
	display: inline-block;
	padding: 0 24px;
	text-decoration: none;
	color: #fff;
	background-color: rgba(24, 56, 110, 0.45);
	z-index: 20;
	font-weight: 500;
	font-size: 16px;
}
.banner .login-control .btn-group a:hover {
	background-color: rgba(24, 56, 110, 0.8);
}
.banner .login-control .btn-group a.left {
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	border-right: 2px solid rgba(255, 255, 255, .3);
}
.banner .login-control .btn-group a.right {
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}
.banner .caption {
	max-width: 100%;
	padding-left: 8%;
	z-index: 20;
	position: relative;
	z-index: 20;
}
.banner .caption h1.bt {
	text-transform: uppercase;
	color: #faffd6;
	font-family: "goodtime", sans-serif;
}
.banner .caption .subt {
	color: #fff;
	font-size: 26px;
	font-weight: normal;
	font-family: "helveticathin", sans-serif;
	max-width: 22em;
}
.banner .reserve {
	display: none;
	position: absolute;
	margin-left: 8%;
	bottom: 200px;
	z-index: 20;
}
.banner .reserve form {
	vertical-align: top;
}
.banner .reserve input {
	height: 40px;
	display: inline-block;
	vertical-align: top;
	-webkit-appearance: none;
	background-color: rgba(153, 192, 255, 0.45);
}
.banner .reserve input[type="text"] {
	width: 380px;
	border: none;
	border-right: 1px solid #2d6b90;
	padding: 0 10px;
	color: #fff;
	font-size: 16px;
}
.banner .reserve input[type="text"]:focus {
	outline: none;
}
.banner .reserve input[type="submit"] {
	/* iphone submit button rounded	*/
	-webkit-appearance: none;
	border: none;
	color: #fff;
	margin-left: -4px;
	padding: 0 18px;
	cursor: pointer;
	font-weight: 500;
	font-size: 16px;
}
.banner .reserve input[type="submit"]:focus{outline:none;}
.banner .reserve input[type="submit"]:hover {
	background-color: rgba(153, 192, 255, 0.7);
}
.banner .reserve .hint {
	color: #96a8b5;
	font-size: 15px;
	margin-top: 5px;
/*	letter-spacing: 0.003px;*/
}
.banner .scroll-control {
	display: none;
	position: absolute;
	right: 20px;
	bottom: 20px;
	cursor: pointer;
	z-index: 20;
}
.group .left {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.group .right {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.logos {
	background-image: url("../images/twill.png");
	overflow: hidden;
	width: 100%;
	margin-bottom: -2px;
}
.logos .item {
	background-color: rgba(41, 48, 71, 0.05);
	float: left;
	width: 16.66666666666%;
	text-align: center;
	vertical-align: middle;
	padding: 30px 0;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
	box-sizing: border-box;
}
.logos .item:first-child a,
.logos .item:last-child a {
	text-decoration: none;
	line-height: 60px;
	font-size: 28px;
	color: #606060;
}
.logos .item:nth-child(6n) {
	border-right: none;
}
.logos .item:nth-child(13),
.logos .item:nth-child(14),
.logos .item:nth-child(15),
.logos .item:nth-child(16),
.logos .item:nth-child(17),
.logos .item:nth-child(18) {
	border-bottom: none;
}
.logos .item img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	width: 70%;
}
.logos .item img:first,
.logos .item img:last {
	-webkit-filter: none;
}
.features {
	background-image: url("../images/twill.png");
	padding: 50px 10.41%;
	display: table;
	width: 100%;
	box-sizing: border-box;
	text-align: center;
	padding: 60px 7.14% 60px;
}
.features .row {
	display: table-row;
}
.features .row .cell {
	color: #5c90bf;
	font-size: 15px;
	width: 20%;
	display: table-cell;
}
.features .row .cell .caption {
	text-align: left;
	padding: 0 10px;
	color: #5c91be;
}
.features .row .cell .caption p {
	min-height: 60px;
	font-size: 18px;
	font-weight:500;
	max-width:450px;
}
.features .row .cell .caption h3 {
	letter-spacing: 1px;
	text-align: center;
	margin: 30px 0 0 0;
	font-size: 27px;
	font-weight: bold;
	color: #5e759f;
}
.features .row .cell ul {
	margin: 0;
	color: #81a9cb;
	padding-left: 20px;
	font-weight: 500;
}
.features .row .cell ul li{
	margin-bottom: 12px;
	font-size: 18px;
	line-height: .9em;
}
.macbook {
	display: table;
	padding: 80px 4.14%;
	background-color: rgba(41, 48, 71, 0.03);
	width: 100%;
	box-sizing: border-box;
}
.macbook .row {
	display: table-row;
}
.macbook .row .cell {
	color: #5c90bf;
	display: table-cell;
	vertical-align: top;
}
.macbook .row .cell .text-wrapper {
	width: 100%;
	line-height: 1.5em;
	font-size: 16px;
	padding: 10px 0;
	text-align: justify;
	max-width: 674px;
	margin: auto;
}
.macbook .row .cell #download {
	max-width: 670px;
	margin: auto;
/*	padding-top: 20px;*/
	text-align: right;
}
.macbook .row .cell #download a {
	background-color: #81b7ff;
	color: #fff;
	font-size: 14px;
/*	padding: 6px 12px;*/
	width: 121px;
	height: 34px;
	text-align: center;
	line-height: 34px;
	display: inline-block;
	text-decoration: none;
	background:url('../images/button_sdk.jpg');
}
.macbook .row .cell:first-child {
	width: 30%;
	text-align: right;
	padding-right: 40px;
}
.macbook .row .cell:first-child img {
	width: 100%;
}
.macbook .row .cell .icons{
	max-width: 744px;
	margin: 0 auto;
/*	background-color: #fff;*/
}
.macbook .row .cell .icons ul {
	list-style: none;
	margin: 0;
	padding: 10px 0;
	width: 100%;
	margin: auto;
	text-align: center;
}
.macbook .row .cell .icons ul li {
	margin-left: -4px;
	display: inline-block;
	width: 16%;
	margin-bottom: 10px;
	box-sizing: border-box;
}
.macbook .row .cell .icons ul li img {
	display: block;
	margin: auto;
}
.footer {
	background-color: rgba(41, 48, 71, 0.03);
	overflow: hidden;
	border-top: 1px solid #d1d1d1;
	box-shadow: 0 1px 1px 1px rgba(255, 255, 255, 0.5) inset;
	padding: 5px 0;
}
.footer ul {
	padding: 0;
	margin: 0;
	overflow: hidden;
	list-style: none;
}
.footer .nav {
	float: left;
}
.footer .nav ul li {
	float: left;
}
.footer .nav ul li a {
	line-height: 30px;
	text-decoration: none;
	display: block;
	color: #434343;
	margin: 0 8px;
	font-size: 14px;
}
.footer .nav ul li a:hover {
	text-decoration: underline;
}
.footer .social-link {
	float: right;
}
.footer .social-link ul {
	padding-right: 10px;
	padding-top: 5px;
}
.footer .social-link ul li {
	float: right;
	margin-left: 15px;
}
.footer .social-link ul li.linkedin {
	width: 65px;
}
.footer .social-link ul li.facebook {
	width: 120px;
}
.footer .social-link ul li.google {
	margin-top: -2px;
	width: 70px;
}
.footer .social-link ul li.twitter {
	width: 80px;
}
.dark_cover {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .3);
	z-index: 99;
	display: none;
}
.modal_hide {
	-webkit-transform: scale(.0);
	opacity: .5;
}
.modal {
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 0 0 18px rgba(0, 0, 0, .7)
}
.modal .header {
	padding: 14px;
	text-align: center;
	background: url('..//images/top_bg.png');
	background-position: right top;
}
.modal .header img {
	line-height: 80px;
	display: block;
	margin: auto;
}
.modal .header .modal_closer {
	position: absolute;
	top: 3px;
	right: 3px;
	width: 18px;
	height: 18px;
	cursor: pointer;
	background-image: url('../images/close_normal.png');
}
.modal .header .modal_closer:hover {
	background-image: url('../images/close_hover.png');
}
#signup_panel,
#login_panel {
	position: fixed;
	top: 80px;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 480px;
	z-index: 100;
	max-width: 100%;
}
#signup_panel .body,
#login_panel .body {
	background-color: rgb(236, 249, 255);
}
#signup_panel .body form,
#login_panel .body form {
	display: block;
	padding: 20px 40px 5px;
	color: #4f90ba;
}
#signup_panel .body form input[type='text'],
#signup_panel .body form input[type='password'],
#login_panel .body form input[type='text'],
#login_panel .body form input[type='password'] {
	display: block;
	width: 100%;
	padding: 0 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
	margin-bottom: 10px;
	box-sizing: border-box;
	padding: 10px;
	font-size: 14px;
}
#signup_panel .body form input[type='text'],
#signup_panel .body form input[type='password'] {
	outline: none;
}
,
#signup_panel .body form .actions label,
#login_panel .body form input[type='text'],
#login_panel .body form input[type='password'] {
	outline: none;
}
,
#login_panel .body form .actions label {
	font-size: 14px;
}
#signup_panel .body form .actions,
#login_panel .body form .actions {
	position: relative;
	width: 100%;
	overflow: hidden;
}
#signup_panel .body form .actions input[type='submit'],
#login_panel .body form .actions input[type='submit'] {
	float: right;
	background-color: #5194be;
	color: #fff;
	line-height: 30px;
	padding: 4px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	width: 115px;
	height: 36px;
	cursor: pointer;
	background: url('../images/submit.png');
}
#signup_panel .body form .actions input[type='submit']:focus,
#signup_panel .body form .actions input[type='submit']:hover,
#login_panel .body form .actions input[type='submit']:focus,
#login_panel .body form .actions input[type='submit']:hover {
	outline: none;
	background-color: #5da4d1;
}
#signup_panel .body form .hint,
#login_panel .body form .hint {
	font-size: 14px;
	padding: 10px 0;
}
#signup_panel .body form .hint a {
	color: #4f90ba;
	text-decoration: none;
}
#signup_panel .body form .hint span {
	float: right;
}
#signup_panel .body form .hint span a {
	float: none;
}
#signup_panel .body form .hint a:hover {
	text-decoration: underline;
}
#login_panel .body form .hint a {
	color: #4f90ba;
	text-decoration: none;
}
#login_panel .body form .hint span {
	float: right;
}
#login_panel .body form .hint span a {
	float: none;
}
#login_panel .body form .hint a:hover {
	text-decoration: underline;
}
@media (min-width: 1920px) {
	.features .row .cell {
		padding: 0 4%;
	}
	.macbook {
		display: table;
		padding: 80px 4.14%;
		background-color: rgba(41, 48, 71, 0.03);
		width: 100%;
		box-sizing: border-box;
/*		background-color: #f00;*/
	}
	.macbook .row .cell .text-wrapper{
/*		padding: 0 140px;*/
		margin: auto;
		box-sizing:border-box;
		max-width: 674px;
	}
}

/* Large desktop */

@media (max-width: 979px) {
	.logos .item {
		width: 33.333333333333%;
		padding: 20px 5px;
		box-sizing: border-box;
	}
	.logos .item:nth-child(3n) {
		border-right: none;
	}
	.logos .item:nth-child(13),
	.logos .item:nth-child(14),
	.logos .item:nth-child(15) {
		border-bottom: 2px solid #fff;
	}
	.features {
		display: table;
		display: table;
		width: 100%;
		box-sizing: border-box;
		text-align: center;
		background-color: #f5f5f5;
		padding: 40px 2%;
	}
	.features .row .cell {
		display: block;
		width: 100%;
		clear: both;
		overflow: hidden;
		padding: 20px 0;
	}
	.features .row .cell img {
		float: left;
		margin-right: 30px;
	}
	.features .row .cell .caption {
		padding: 0 10px;
	}
}
/* Portrait tablet to landscape and desktop */

@media (min-width: 768px) and (max-width: 979px) {
	.macbook .row .cell .text-wrapper {
		width: 100%;
		padding: 0;
		text-align: justify;
	}
	.macbook .row .cell #download {
		padding-top: 10px;
		text-align: right;
		width: 100%;
	}
}
/* Landscape phone to portrait tablet */

@media (max-width: 767px) {
	.banner .header {
		height: auto;
		background-color: rgba(39, 65, 90, 0.3);
	}
	.banner .header .logo {
		padding: 10px 0 10px 0;
		float: left;
		float: none;
		text-align: center;
	}
	.banner .header .logo img {
		width: 30%;
		max-width: 180px
	}
	.banner .header .social-icon {
		width: 100%;
		float: none;
		padding: 10px 0;
		text-align: center;
	}
	.banner .header .social-icon span {
		display: inline-block;
		width: 60px;
		text-align: center;
	}
	.banner .header .social-icon span p {
		display: none;
	}
	.logos .item {
		width: 33.3333333%;
		padding: 20px 5px;
		box-sizing: border-box;
	}
	.logos .item:nth-child(3n) {
		border-right: none;
	}
	.macbook {
		background-color: #eeeef0;
	}
	.macbook .row .cell {
		display: block;
	}
	.macbook .row .cell .text-wrapper {
		width: 100%;
		box-sizing: border-box;
		color: #5c91be;
	}
	.macbook .row .cell #download {
		padding-top: 20px;
		text-align: center;
		width: 100%;
	}
	.macbook .row .cell:first-child {
		width: 100%;
		text-align: center;
	}
	.footer .nav,
	.footer .social-link {
		width: 100%;
		float: none;
		padding: 0px;
		box-sizing: border-box;
	}
	.footer .nav ul li {
		display: inline-block;
		width: 16.66666666666%;
		box-sizing: border-box;
		font-size: 10px;
		text-align: center;
	}
	.footer .nav ul li a {
		font-size: 10px;
	}
	.footer .social-link {
		float: none;
		width: 80%;
		margin: auto;
	}
	.footer .social-link ul {
		padding-right: 0;
		padding-top: 15px;
	}
	.footer .social-link ul li {
		display: inline-block;
		float: none;
		margin-left: 5px;
	}
	.footer .social-link ul li.linkedin {
		width: 15%;
	}
	.footer .social-link ul li.facebook {
		width: 23%;
	}
	.footer .social-link ul li.google {
		margin-top: -2px;
		width: 15%;
	}
	.footer .social-link ul li.twitter {
		width: 15%;
	}
}
@media (max-width: 579px) {
	.banner .scroll-control {
		position: absolute;
		right: 0px;
		left: 0;
		margin: auto;
		width: 100%;
		text-align: center;
		bottom: 20px;
	}
	.banner .scroll-control img {
		width: 100px;
	}
	.features {
		padding: 20px 0 0 0;
	}
	.features .row {
		display: block;
	}
	.features .row .cell {
		display: block;
		width: 90%;
		margin: auto;
		margin-bottom: 20px;
	}
	.features .row .cell img {
		float: none;
		margin-right: 30px;
	}
	.features .row .cell .caption ul {
		display: block;
		width: 70%;
		margin: auto;
	}
	.macbook .row .cell .icons ul {
		list-style: none;
		margin: 0;
		padding: 20px 0 0 0;
		width: 100%;
		margin: auto;
		text-align: center;
	}
	.macbook .row .cell .icons ul li {
		margin-left: -4px;
		display: inline-block;
		width: 33.333333%;
		margin-bottom: 10px;
		box-sizing: border-box;
	}
	.macbook .row .cell .icons ul li img {
		display: block;
		margin: auto;
	}
	.footer .social-link {
		float: none;
		width: 80%;
		margin: auto;
	}
	.footer .social-link ul {
		padding-right: 0;
		padding-top: 15px;
	}
	.footer .social-link ul li {
		display: inline-block;
		float: none;
		margin-left: 5px;
	}
	.footer .social-link ul li.linkedin {
		width: 25%;
	}
	.footer .social-link ul li.facebook {
		width: 25%;
	}
	.footer .social-link ul li.google {
		margin-top: -2px;
		width: 25%;
	}
	.footer .social-link ul li.twitter {
		width: 25%;
	}
	#login_panel,
	#signup_panel {
		position: absolute;
		top: 80px;
		left: 0;
		right: 0;
		width: 90%;
		top: 20px;
		height: auto;
	}
	#login_panel .header img,
	#signup_panel .header img {
		width: 80%;
	}
	#login_panel .body,
	#signup_panel .body {
		height: auto;
		overflow: hidden;
		padding-bottom: 10px;
	}
	#login_panel .body form,
	#signup_panel .body form {
		padding: 10px 10px;
	}
	#signup_panel .body form .actions input[type='submit'],
	#login_panel .body form .actions input[type='submit'] {
		float: none;
		width: 100%;
		border: none;
		background: url('../images/submit.png');
		-webkit-background-size: 100% 100%;
		background-size: 100% 100%;
		margin: 5px 0;
	}
}

/*
	< 480
*/
@media (max-width: 480px) {
	.banner .bg_mac {
		background: url('../images/mac_bg.png');
		height: 100%;
		position: absolute;
		width: 100%;
		z-index: 1;
		background-position: 60% center;
		background-size: auto 100%;
	}
	.banner .bg_punctate {
		background: url('../images/punctate.png');
		height: 100%;
		position: absolute;
		width: 100%;
		z-index: 2;
	}
	.banner .bg_shade {
		background: url('../images/shade_fg.png');
		height: 100%;
		position: absolute;
		width: 100%;
		z-index: 2;
		background-size: 100% 100%;
	}
	.banner .header {
		height: auto;
		text-align: center;
		padding-bottom: 10px;
	}
	.banner .header .logo,
	.banner .header .social-icon {
		box-sizing: border-box;
		float: none;
		width: 100%;
	}
	.banner .header .logo img {
		width: 120px;
	}
	.banner .social-icon span {
		display: inline-block;
		width: 70px;
	}
	.banner .caption {
		padding: 0;
	}
	.banner .caption h1 {
		text-align: center;
	}
	.banner .caption .subt {
		max-width: 100%;
		padding: 0 20px;
	}
	.banner .social-icon p {
		display: none;
	}
	.banner .login-control {
		padding: 0px 0;
	}
	.banner .login-control .btn-group a {
		line-height: 30px;
		font-size: 14px;
	}
	.banner .reserve {
		left: 0;
		right: 0;
		box-sizing: border-box;
		margin-top: 8%;
		margin-left: 0;
		text-align: center;
		padding: 0 10px;
		bottom: 10%!important;
	}
	.banner .reserve input[type='text'] {
		width: 66%;
		box-sizing: border-box;
	}
	.logos .item {
		width: 50%;
		padding: 20px 5px;
		box-sizing: border-box;
		border-bottom: 2px solid #fff;
		border-right: 2px solid #fff;
	}
	.logos .item:nth-child(3n) {
		border-right: 2px solid #fff;
	}
	.logos .item:nth-child(2n) {
		border-right: none;
	}
	.logos .item:nth-child(13),
	.logos .item:nth-child(14),
	.logos .item:nth-child(15),
	.logos .item:nth-child(16) {
		border-right: 2px solid #fff;
		border-bottom: 2px solid #fff;
	}
	.logos .item:nth-child(17),
	.logos .item:nth-child(18) {
		border-bottom: none;
	}
	.features .row .cell img {
		display: block;
		width: 70%;
		margin: auto;
	}
	.features .row .cell .caption ul {
		display: block;
		width: 100%;
	}
	.macbook {
		padding: 50px 0;
		background-color: #eeeef0;
	}
	.macbook .row .cell {
		display: block;
	}
	.macbook .row .cell .text-wrapper {
		width: 100%;
		padding: 10px 20px;
		box-sizing: border-box;
	}
	.macbook .row .cell #download {
		width: 80%;
		padding-top: 20px;
		text-align: right;
	}
	.macbook .row .cell #download a {
		background-color: #81b7ff;
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #88baff), color-stop(100%, #56a0ff));
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
		color: #fff;
		font-size: 12px;
		padding: 6px 12px;
		border-radius: 4px;
		text-decoration: none;
	}
	.macbook .row .cell #download a:hover {
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #89b8f9), color-stop(100%, #5084ed));
	}
	.macbook .row .cell:first-child {
		width: 100%;
		text-align: center;
	}
}
@media (max-width: 380px) {
	.footer .social-link {
		float: none;
		width: 90%;
		margin: auto;
	}
	.footer .social-link ul {
		padding-right: 0;
		padding-top: 15px;
	}
	.footer .social-link ul li {
		display: inline-block;
		float: none;
		margin-left: 5px;
	}
	.footer .social-link ul li.linkedin {
		width: 40%;
	}
	.footer .social-link ul li.facebook {
		width: 45%;
	}
	.footer .social-link ul li.google {
		margin-top: -2px;
		width: 45%;
	}
	.footer .social-link ul li.twitter {
		width: 35%;
	}
}